<section class="row">
  <div class="large-12 columns rhythm">
    <div class="card">
      <!-- hero post -->
      <header class="card-header">
        <h1 class="gamma">Geolocation</h1>
      </header>

      <div id="geolocation" class="card-content">
        <h2 class="delta">Your Current Position</h2>
        <p>Latitude: <span id="latitude" /></p>
        <p>Longitude: <span id="longitude" /></p>
        <p>Accuracy: More or less <span id="accuracy" /></p>
      </div>
    </div>
  </div>
</section>
