<!-- hero post -->
<header>
  <div class="row">
    <div class="large-12 columns">
      <h1>Loan Calculator</h1>
    </div>
  </div>
</header>

<div class="row">
  <div class="large-12 columns rhythm">

    <%= partial "angular/_calculator" %>

    <div class="code">
      <xmp class="prettyprint lang-html sunburst">
        <%= partial "angular/_calculator" %>
      </xmp>
    </div>

  </div>
</div>
