<!-- hero post -->
<header class="h-program">
  <div class="row">
    <div class="large-12 columns">
      <h1>Angular Test</h1>
    </div>
  </div>
</header>

<div class="row">
  <div class="large-12 columns rhythm">
    <%= partial "angular/_test" %>

    <div class="code">
      <xmp class="prettyprint lang-html sunburst">
        <%= partial "angular/_test" %>
      </xmp>
    </div>

  </div>
</div>
